<% if plate.active == 1 %>
    <!-- MODAL DEACTIVATE -->
    <div class="modal fade modal-dialog-center in" id="deactivate_plate_<%= plate.id.to_s %>"
      tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">      
      <div class="modal-dialog ">
        <div class="modal-content-wrap">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Desativar Prato</h4>
            </div>
            <div class="modal-body">
              <div class="text-center">
                Deseja Realmente Desativar o Prato?
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-left">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
              </div>
              <%= link_to "Confirmar", plate_deactivate_path(plate), :method => :post, :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <!-- MODAL ACTIVATE -->
  <div class="modal fade modal-dialog-center in" id="activate_plate_<%= plate.id.to_s %>"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">   
    <div class="modal-dialog ">
      <div class="modal-content-wrap">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Ativar Prato</h4>
          </div>
          <div class="modal-body">
            <div class="text-center">
              Deseja Realmente Ativar o Prato?
            </div>
          </div>
          <div class="modal-footer">
            <div class="pull-left">
              <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
            </div>
            <%= link_to "Confirmar", plate_activate_path(plate), :method => :post, :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>