<% if alert %>
  <div class="alert alert-danger">
      <li><%= alert %></li>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-block alert-success fade in">
      <%= notice %>
  </div>
<% end %>
