form{
  label{
    span{
      color:$red-2;
    }
  }
  .form-control{
    border-color:$gray-4;
    @include radius(0px);
    &:focus{
      border-color:$red-2;
    }
  }
  .wrap-submit{
    padding-top:20px;
    [type=submit]{
      color:$white;
      background:$red;
      border-color:$red-2;
      @include radius(0px);
      @include transition(0.2s);
      &:hover{
        border-color:$red;
        opacity:0.8;
        @include transition(0.3s);
      }
    }
  }
  .form-group{
    position:relative;
    .error{
      font-size:20px;
      color:$red-2;
      position:absolute;
      top:46%;
      right:20px;
    }
  }
}
