form{
  label{
    font-size:14px;
    font-weight:normal;
    color:$black;
    margin-bottom:10px;
    span{
      color:$red-2;
    }
  }
  .m-bottom-group{
    margin-bottom:40px;
  }
  .description{
    font-size:15px;
    font-weight:normal;
    color:$black-2;
    display:block;
    &.pad-top{
      padding-top:10px;
    }
  }
  .form-control{
    border-color:$gray-4;
    @include radius(0px);
    &:focus{
      border-color:$red-2;
    }
  }
  .wrap-submit{
    padding-top:20px;
    [type=submit]{
      color:$white;
      background:$red;
      border-color:$red-2;
      @include radius(0px);
      @include transition(0.2s);
      &:hover{
        border-color:$red;
        opacity:0.8;
        @include transition(0.3s);
      }
    }
  }
  .form-group{
    position:relative;
    .error{
      font-size:20px;
      color:$red-2;
      position:absolute;
      top:46%;
      right:20px;
    }
  }
}

.wrap-img-show{
  margin-bottom:15px;
  overflow:hidden;
  a{
    font-size:13px;
    color:$red-2;
    display:inline-block;
    padding:5px 0;
    &:hover{
      opacity:0.8;
    }
  }
}
