body{
  font-family:$font-default;
}

a{
  outline:0!important;
  @include transition(0.1s);
  &:hover,
  &:focus,
  &:active{
    outline:0!important;
    @include transition(0.1s);
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:0;
}

ul{
  margin:0;
}

.container-fluid{
  max-width:1230px;
  padding-left: $size-padding-fluid;
  padding-right: $size-padding-fluid;
  position:relative;
  &.int{
    max-width:1020px;
  }
}

#wrap-site{
  @extend .clearfix;
  &.blur{
    filter:blur(10px) grayscale(50%);
    -webkit-filter:blur(10px) grayscale(50%);
  }
}

#menu-responsive{
  background:$blue;
  width:60%;
  height:100%;
  position:fixed;
  top:0;
  left:-100%;
  z-index:100;
  box-shadow:-5px 0 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow:-5px 0 10px rgba(0, 0, 0, 0.7);
  @include transition(0.2s);
  &.active{
    left:0;
    @include transition(0.4s);
    &:before{
      display:block;
      opacity:1;
      @include transition(0.3s);
    }
  }
  &:before{
    content:'';
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0;
    right:0;
    opacity:0;
    z-index:-1;
    @include transition(0.1s);
  }
  #wrap-menu-responsive{
    width:100%;
    height:100vh;
    display:block;
    padding:0 0 60px;
    white-space:nowrap;
    overflow-y:auto;
  }
  ul{
    padding-top:20px;
    // height:60%;
    li{
      display:block;
      list-style:none;
      &.no-menu-responsive{
        display:none;
      }
      a{
        font-size:18px;
        color:$white;
        font-weight:lighter;
        display:block;
        border-color:transparent;
        padding:10px 20px;
        @include transition(0.2s);
        &:hover,
        &.active{
          background:$black;
          border-left:5px solid $red-2;
          @include transition(0.4s);
        }
      }
    }
  }
  #info-user-menu-responsive{
    background-color:$black;
    width:100%;
    height:auto;
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
    #wrap-user-info-menu-responsive{
      width:100%;
      height:0;
      padding-top:45%;
      display:block;
      position:relative;
      #user-menu-responsive{
        width:100%;
        padding:15px;
        position:absolute;
        bottom:0;
        left:0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+18,000000+100&0+0,0.23+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 18%, rgba(0,0,0,0.23) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 18%,rgba(0,0,0,0.23) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 18%,rgba(0,0,0,0.23) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=0 ); /* IE6-9 */
        a{
          display:block;
          color:$white;
          img{
            width:48px;
            height:48px;
            display:block;
            margin-bottom:5px;
            @include radius(50%);
            @include transition(0.1s);
          }
          &:hover{
            color: $white;
            img{
              box-shadow:0px 0px 0px 3px rgba(255, 255, 255, 1);
              -webkit-box-shadow:0px 0px 0px 3px rgba(255, 255, 255, 1);
              @include transition(0.3s);
            }
          }
        }
      }
    }
  }
  #close-menu-responsive{
    // background:$white;
    padding:15px 20px;
    position:absolute;
    top:0;
    right:-56px;
    cursor:pointer;
    i{
      color: $white;
      font-size: 32px;
      position: relative;
      z-index: 0;
      @include transition(0.3s);
    }
    &:hover{
      i{
        color:$red;
      }
    }
  }
}

#wrap-content{
  background:$white-4;
  @extend .clearfix;
}

#pages-int{
  min-height:400px;
  padding-bottom:60px;
  position:relative;
  overflow:hidden;
  &:before{
    content:'carregando';
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
  }
  .container-fluid,
  .load-cont{
    display:none;
  }
  &.active{
    &:before{
      display:none;
    }
    .container-fluid,
    .load-cont{
      display:block;
    }
  }
  &.no-padding-bottom{
    padding-bottom:0;
  }
}

// breadcrumb
.breadcrumb{
  padding-top:30px;
  padding-bottom:30px;
  li{
    font-size:13px;
    padding-top:12px;
    &.active{
      color:$gray-3;
    }
    a{
      color:$red;
      &:hover{
        opacity:0.8;
      }
    }
  }
}

// wrap-search
#wrap-search{
  margin-bottom:30px;
  input{
    height:40px;
    @include radius(3px);
    &:focus{
      border-color:$green;
    }
  }
}

// wrap-box-login
#wrap-box-login{
  background:rgba(255,255,255,0.97);
  padding:60px 40px;
  position:relative;
  overflow:hidden;
  box-shadow:0 0 17px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:0 0 17px rgba(0, 0, 0, 0.3);
  &:before{
    content: " ";
    display: block;
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    bottom: 14px;
    border: 1px solid $white-2;
    pointer-events: none;
  }
  form{
    .form-group{
      padding-left:5px;
      padding-right:5px;
      .error{
        top:3px;
      }
    }
    [type=submit]{
      width:100%;
    }
    .wrap-submit{
      padding-top:0;
    }
    .btn-link{
      font-size:13px;
      color:$gray-2;
      &:hover{
        color:$red-2;
      }
    }
  }
}

.informative{
  &.t-center{
    text-align:center;
  }
  h4{
    font-family:$font-secundary-cond;
    font-weight:lighter;
    font-size:27px;
    color:$blue;
    letter-spacing:1px;
    line-height:37px;
    margin-bottom:20px;
  }
  ul{
    margin-bottom:20px;
    padding-left:10px;
    li{
      list-style:square;
      font-size:12px;
      color:$blue;
      margin-bottom:3px;
    }
  }
  span{
    font-family:$font-secundary;
    font-size:14px;
    color:$blue;
  }
  a{
    text-decoration:underline;
    color:$red;
    &:hover{
      color:$red-2;
    }
  }
}
