/* =============================================================================
1920px
========================================================================== */
@media screen and (max-width: 2000px){

}
/* =============================================================================
1280px
========================================================================== */
@media screen and (max-width: 1280px){

}
/* =============================================================================
980px
========================================================================== */
@media screen and (max-width: 980px){
  // Header
  #wrap-menu-logo{
    padding-bottom:0;
    .container-fluid{
      padding:0;
    }
  }
  #logo-header{
    text-align:center;
    margin-bottom:20px;
    clear:both;
    a{
      display:inline-block;
      &:first-of-type{
        display:none;
      }
    }
    img{
      height:24px;
    }
  }

  #wrap-select-date-food{
    border-top:1px solid $white-2;
    &:before,
    &:after{
      display:none;
    }
  }

  #wrap-cep-select-filter{
    text-align:center;
    .container-fluid{
      padding:0;
    }
    &:before,
    &:after{
      display:none;
    }
  }

  #cart-bar-responsive{
    position:absolute;
    top:17%;
    right:$size-padding-fluid;
    z-index:10;
  }

}
/* =============================================================================
800px
========================================================================== */
@media screen and (max-width: 800px){


}
/* =============================================================================
768px
========================================================================== */
@media screen and (max-width: 768px){

}
/* =============================================================================
600px
========================================================================== */
@media screen and (max-width: 640px){
  #wrap-cep-select-filter{
    .container-fluid{
      padding:0;
    }
    #filter-select{
      padding:0;
      .select-filter{
        border-bottom:1px solid $white-2;
        .filter-title{
          padding:10px;
          .quant-itens-show{
            top:25%;
          }
        }
      }
      .drop{
        position:relative;
        top:0;
        box-shadow:none;
        -webkit-box-shadow:none;
      }
    }
  }
}
/* =============================================================================
568px
========================================================================== */
@media screen and (max-width: 568px){

}
/* =============================================================================
480px
========================================================================== */
@media screen and (max-width: 480px){

}
/* =============================================================================
360px
========================================================================== */
@media screen and (max-width: 360px){

}
/* =============================================================================
320px
========================================================================== */
@media screen and (max-width: 320px){

}
