table{
  tbody > tr > td, tbody > tr > th, tfoot > tr > td, tfoot > tr > th, thead > tr > td, thead > tr > th{
    border-top:0!important;
    border-bottom:1px solid $gray-6;
  }
  tr{
    td{
      vertical-align:middle!important;
      a{
        display:inline-block;
        margin-top:1px;
        margin-left:5px;
        color:$black-2;
        i{
          font-size:16px!important;
        }
        &:hover{
          color:$red-2;
        }
      }
    }
  }
}

#table-historical{
  span{
    display:block;
  }
  img{
    max-height:45px;
    margin-right:5px;
  }
  .t-right{
    text-align:right!important;
  }
}
