// Fonts
$font-default:'Roboto', sans-serif;
$font-secundary:'Open Sans', sans-serif;
$font-secundary-cond:'Oswald', sans-serif;


// Colours Primary
$white: #ffffff;
$red:#E94E4F;
$yellow:#FABE28;
$green:#00C176;
$blue:#212328;
$gray:#515151;
$black:#000000;

// Colours Secundary
$white-2:#E8EBE9;
$white-3:#F7F7F7;
$white-4:#FAFAFA;
$red-2:#E50035;
$yellow-2:#E0AA23;
$green-2:#00AD69;
$blue-2:#23262b;
$gray-2:#636363;
$gray-3:#79776B;
$gray-4:#cccccc;
$gray-5:#B9B9AF;
$black-2:#888888;

// Sizes
$size-padding-fluid:2.8rem;
$top-menus-header:25px;
$size-margin-links-header:1.5rem;
