// Fonts
$font-default:'Raleway', sans-serif;
$font-secundary:'Open Sans', sans-serif;

// Colours Primary
$red:#E94E4F;
$yellow:#FABE28;
$green:#00C176;
$blue:#212328;
$gray:#515151;

// Colours Secundary
$red-2:#E50035;
$yellow-2:#E0AA23;
$green-2:#00AD69;
$blue-2:#23262b;
$gray-2:#636363;
