<% if chef.active %>
    <!-- MODAL DEACTIVATE -->
    <div class="modal fade modal-dialog-center in" id="deactivate_chef_<%= chef.id.to_s %>"
      tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">     
      <div class="modal-dialog ">
        <div class="modal-content-wrap">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Desativar Chef</h4>
            </div>
            <div class="modal-body">
              <div class="text-center">
                Deseja Realmente Desativar o Chef?
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-left">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
              </div>
               <%= form_for(chef) do |f| %>
                <%= f.hidden_field :active, :value => false, :class => 'form-control' %>
                <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <!-- MODAL ACTIVATE -->
  <div class="modal fade modal-dialog-center in" id="activate_chef_<%= chef.id.to_s %>"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">    
    <div class="modal-dialog ">
      <div class="modal-content-wrap">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Ativar Chef</h4>
          </div>
          <div class="modal-body">
            <div class="text-center">
              Deseja Realmente Ativar o Chef?
            </div>
          </div>
          <div class="modal-footer">
            <div class="pull-left">
              <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
            </div>
           <%= form_for(chef) do |f| %>
              <%= f.hidden_field :active, :value => true, :class => 'form-control' %>
              <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>