<% unless b.nil? %>
    <div class="col-xs-6 col-md-2">
      <div href="#" class="thumbnail tooltips" data-placement='top' title="<%= b.name + ' - ' +b.description %>">
        <%= image_tag b.image.url(:thumb) %>
        <% if defined? input %>
        	<p class="text-center">     	        		
                <%= check_box_tag "chef[badge_ids][]", b.id, @chef.badges.include?(b), {class: ''} %>
        	</p>
        <% end %>       
      </div>
    </div>     
<% end %>