<div class="col-lg-12">
  <%= link_to raw("<button type='button' class='btn btn-default'>Voltar</button>"), daily_menus_path %>
  <div class="panel"></div>
	<section class="panel">
    <div class="panel-heading">
        <div class="panel-title">Detalhes</div>
    </div>
    <div class="panel-body form-horizontal">
    	    </div>
  </section>
</div>