<!-- wrap-content -->
<div id="home-page" class="wrap-content bg-white-3">
  <!-- container-fluid -->
  <div class="container-fluid no-padd-xs">
    <!-- title -->
    <div class="title s-center clearfix">
      <h2>Pratos Principais</h2>
      <h4>A partir da nossa cozinha, prontos para aquecer</h4>
    </div>
    <!-- title -->
  </div>
  <!-- container-fluid -->

  <div class="wrap-list container-fluid">
    <!-- Row -->
    <div class="row">

      <!-- list-item -->
      <div class="list-item col-md-3 col-sm-4 col-xs-12">
        <figure class="wrap-image-prod">
          <%= link_to "", about_path, :class => "img-prod", :style => "background:url(http://40.media.tumblr.com/f5a427c9d286538d53856c82cef0f916/tumblr_o4ckhx2YY61st5lhmo1_1280.jpg) no-repeat center center / auto 100%;" %>
        </figure>
        <div class="title-prod">
          <div class="wrap-chef-info">
            <div class="avatar-chef">
              Chef: <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
            </div>
            <div class="wrap-box-info-chef">
              <div class="info-chef">
                <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença" %>
                <span>Luiz Valença</span>
                <%= link_to "Perfil do Chef", about_path %>
              </div>
            </div>
          </div>
          <h4 >Nome do Prato</h4>
        </div>
        <div class="wrap-price-buy">
          Lorem ipsum
        </div>
      </div>
      <!-- list-item -->

    </div>
    <!-- Row -->
  </div>

</div>
<!-- wrap-content -->

