<div id="pages-int" class="wrap-content bg-white-3 no-padding-bottom">
  <div id="wrap-singup" style="background:url(<%= asset_path 'content/signup.jpg' %>) no-repeat center center / cover;" class="load-cont">
    <div class="container">
      <div class="col-md-10 col-sm-12 col-xs-12 centralize" id="wrap-box-login">
        <div id="wrap-form-signup" class="col-md-7 col-sm-7 col-xs-12">
          <!-- title -->
          <div class="col-md-12">
            <div class="title s-center clearfix">
              <h2>Cadastre-se</h2>
            </div>
          </div>
          <!-- title -->
          <form action="" id="form-signup">
            <div class="col-md-12">
              <div class="form-group col-md-6 col-sm-6">
                <input type="text" value="" placeholder="Primeiro Nome" class="form-control validate-signup" id="first-name">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <input type="text" value="" placeholder="Sobrenome" class="form-control validate-signup" id="last-name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group col-md-12 col-sm-12">
                <input type="text" value="" placeholder="Email" class="form-control validate-signup email" id="email-signup">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group col-md-6 col-sm-6">
                <input type="password" value="" placeholder="Senha" name="password" class="form-control validate-signup" id="password">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <input type="cep" value="" placeholder="CEP" name="cep" class="form-control validate-signup cep" id="cep" alt="cep">
              </div>
            </div>
            <div class="col-md-12 wrap-submit">
              <div class="form-group col-md-6 col-sm-6 col-xs-8 centralize">
                <button type="submit" class="btn">Criar Conta</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 hidden-xs informative">
          <h4>Suas Refeições feitas na hora e entregues na sua casa</h4>
          <ul>
            <li>Pratos novos todos os dias</li>
            <li>Os chefs usam ingredientes selecionados</li>
            <li>Os pratos são refrigerados, mantendo seu sabor e textura</li>
            <li>Basta aquecer e você terá uma refeição completa, feita por um chef</li>
            <li>Entrega programada</li>
          </ul>
          <span>Já possue conta? <%= link_to "Entrar", login_path %></span>
        </div>
      </div>
    </div>
  </div>
</div><!-- pages-int -->

