<div id="pages-int" class="wrap-content bg-white-3">
  <div class="container-fluid int">
    <div class="row">
      <ol class="breadcrumb col-sm-10 col-md-10 col-xs-9">
        <li><%= link_to "Seu Conta", user_path %></li>
        <li class="active">Mudar Email</li>
      </ol>
      <div class="title s-left col-sm-2 col-md-2 col-xs-3">
        <div id="wrap-logoff">
          <%= link_to "Sair", login_path %>
        </div>
      </div>
      <div id="user-links-general" class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <!-- aside -->
          <%= render 'layouts/front/aside_user' %>
          <!-- aside -->
          <div id="info-user-block" class="int col-md-9 col-sm-9">
            <!-- wrap-banner-user -->
            <div id="links-user" class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="title int-user">
                  <h2>Mudar Email</h2>
                </div>
                <form action="" class="form-validate">
                  <div class="row">
                    <div class="col-md-12 row">
                      <div class="form-group col-md-4 col-sm-5">
                        <label for="user-email">Email <span>*</span></label>
                        <input type="text" value="luizpaulo165@gmail.com" name="user-email" class="form-control required email" id="user-email">
                      </div>
                    </div>
                    <div class="col-md-12 row">
                      <div class="form-group col-md-4 col-sm-5">
                        <label for="user-password">Senha <span>*</span></label>
                        <input type="password" value="" class="form-control required" name="user-password" id="user-password">
                      </div>
                    </div>
                    <div class="col-md-12 row wrap-submit">
                      <div class="col-md-4">
                        <button type="submit" class="btn">Atualizar Email</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- row  -->
            </div>
          </div>
          <!-- info-user-block -->
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container-fluid -->
</div>
<!-- pages-int -->
