#header-default{
  padding-top:20px;
  position:relative;
  z-index:10;
  #logo-header{
    width:85px;
    margin:0 auto 20px;
    position:relative;
    a{
      display:block;
    }
    img{
      height:62px;
    }
  }
}
