#header-internal{
  border-bottom:1px solid $white-2;
  padding:10px 0;
  position:relative;
  z-index:10;
  @extend .clearfix;
}

#wrap-menu-logo-int{
  text-align:center;
  img{
    max-height:62px;
  }
}

.menu-int{
  margin-top:34px;
  ul{
    display:inline-block;
    li{
      display:inline-block;
      list-style:none;
      a{
        font-size: 12px;
        color:$gray-3;
        letter-spacing:1px;
        border-bottom:1px solid transparent;
        display:inline-block;
        margin-left:$size-margin-links-header;
        &:hover,
        &.active{
          color:$red;
          border-color:$red-2;
        }
        &#name-user{
          img{
            width:22px;
            height:22px;
            display:inline-block;
            position:relative;
            top:-2px;
            @include radius(50%);
          }
          &:hover,
          &.active{
            border-color:transparent;
          }
        }
      }
    }
  }
  &.left{
    .no-menu-int-left{
      display:none;
    }
    ul{
      margin-top:4px;
    }
  }
  &.right{
    text-align:right;
    .no-menu-int-right{
      display:none;
    }
    ul{
      margin-right:$size-margin-links-header;
    }
  }
}

#active-menu-int-responsive{
  display:inline-block;
  padding:5px 5px 5px 0;
  position:absolute;
  top:33%;
  left:$size-padding-fluid + $size-padding-fluid;
  z-index:10;
  cursor:pointer;
  i{
    color: $red-2;
    font-size: 20px;
    position: relative;
    z-index: 0;
    @include transition(0.3s);
  }
}

