.list-item{
  min-height:300px;
}
.wrap-image-prod{
  width:100%;
  height:auto;
  margin-bottom:5px;
  position:relative;
  z-index:0;
  overflow:hidden;
  .img-prod{
    width:100%;
    height:0;
    padding-top:75%;
    display:block;
  }
}
.title-prod{
  border-bottom:1px solid $white-2;
  padding-bottom:20px;
  margin-bottom:10px;
  position:relative;
  z-index:10;
  h4{
    font-family:$font-default;
    font-size:16px;
    font-weight:bold;
    letter-spacing:0.25px;
    color:$gray;
    display:block;
  }
}
.wrap-chef-info{
  display:block;
  margin-bottom:5px;
  position:relative;
  &:hover,
  &.active{
    .avatar-chef{
      color:$red-2;
      @include transition(0.3s);
    }
    .wrap-box-info-chef{
      transform:scale(1);
      -webkit-transform:scale(1);
    }
  }
  .avatar-chef{
    font-family:$font-default;
    font-size:12px;
    font-weight:lighter;
    letter-spacing:0.25px;
    color:$gray;
    @include transition(0.4s);
    img{
      width:18px;
      height:18px;
      position:relative;
      top:-2px;
      @include radius(50%);
    }
  }
  .wrap-box-info-chef{
    padding-left:9px;
    position:absolute;
    bottom:-100%;
    left:56px;
    z-index:9px;
    transform:scale(0.0);
    -webkit-transform:scale(0.0);
    @include transition(0.1s);
    &:before{
      content:'';
      width:0;
      height:0;
      display:block;
      border-right:10px solid $white;
      border-bottom:10px solid transparent;
      border-top:10px solid transparent;
      position:absolute;
      left:0;
      bottom:15%;
    }
    .info-chef{
      text-align:center;
      background:$white;
      width:150px;
      border:1px solid $white-3;
      padding:15px 10px;
      overflow:hidden;
      box-shadow:2px 0 3px rgba(0,0,0,0.1);
      -webkit-box-shadow:2px 0 3px rgba(0,0,0,0.1);
      img{
        width:60px;
        height:60px;
        display:block;
        margin:0 auto 10px;
        box-shadow:0 0 0px 3px rgba(0,0,0,0.1);
        -webkit-box-shadow:0 0 0px 3px rgba(0,0,0,0.1);
        @include radius(50%);
      }
      a,
      span{
        display:block;
      }
      span{
        font-size:14px;
        letter-spacing:0.25px;
        color:$gray;
        margin-bottom:10px;
      }
      a{
        font-size:11px;
        color:$red;
        background:$white-4;
        padding:5px;
        &:hover{
          background:none;
        }
      }
    }
  }
}
