// Fonts
$font-default:;
$font-secundary:;

// Colours Primary
$red:;
$yellow:;
$green:;
$blue:;

// Colours Secundary
$red-2:;
$red-3:;
$yellow-2:;
$yellow-3:;
$green-2:;
$green-3:;
$blue-2:;
$blue-3:;
