// Fonts
$font-default:Arial;
$font-secundary:Arial;

// Colours Primary
$red:#EB4E4F;
$yellow:#FABE28;
$green:#00C176;
$blue:#71B9F9;

// Colours Secundary
$red-2:#E50035;
$yellow-2:#E0AA23;
$green-2:#00AD69;
$blue-2:#65A6DF;
