<aside id="sidebar" class="col-md-3 col-sm-3 hidden-xs">
  <div id="img-user-preview">
    <%= image_tag 'http://40.media.tumblr.com/a10be7c9e728de50fc42f8cc2cde9142/tumblr_o5zqm9sFK11st5lhmo1_1280.jpg', alt: "Nome do prato", class: "img-responsive" %>
  </div>
  <h4 class="title-border">Macarrão com camarão</h4>
</aside>
