<aside id="sidebar" class="col-md-3 col-sm-3 hidden-xs">
  <div id="img-user-preview">
    <%= image_tag 'content/avatar.jpg', alt: "Luiz Valença", class: "img-responsive" %>
    <%= link_to "Editar foto", user_photo_edit_path, id: 'link-edit-photo' %>
  </div>
  <h4 class="title-border">Luiz Valença</h4>
</aside>
