<header id="header-internal">
  <div class="container-fluid">
    <div class="col-md-4">
      asdfasd
    </div>
    <div id="wrap-menu-logo-int" class="col-md-4">
      <h1>
        <%= link_to home_path, :class => "" do %>
        <%= image_tag 'content/miochef.png', alt: "Miochef" %>
        <% end %>
        <%= link_to home_path, :class => "hidden-md hidden-lg" do %>
        <%= image_tag 'content/miochef-name.png', alt: "Miochef" %>
        <% end %>
      </h1>
    </div>
    <div class="col-md-4">
      asdfasd
    </div>
  </div>
</header>

