<header id="header-default">
  <div class="col-md-12">
    <!-- Logo -->
    <h1 id="logo-header">
      <%= link_to home_path do %>
        <%= image_tag 'content/miochef.png', alt: "Miochef" %>
      <% end %>
    </h1>
    <!-- Logo -->
    <!-- Menu -->
    <nav id="nav-header">
      <%= render 'layouts/front/menu_links' %>
    </nav>
    <!-- Menu -->
  </div>
</header>
