<header id="header-default">
  <div class="col-md-12">
    <!-- Logo -->
    <h1 id="logo-header">
      <a href="#">
        <%= image_tag 'content/miochef.png', alt: "Miochef" %>
      </a>
    </h1>
    <!-- Logo -->
    <!-- Menu -->
    <nav id="nav-header">
      <%= render 'layouts/front/menu_links' %>
    </nav>
    <!-- Menu -->
  </div>
</header>
