<header id="header-default">
  <div class="col-md-12">
    <!-- Logo -->
    <h1 id="logo-header">
      <a href="#">
        <img src=" <%=image_path('content/miochef.png') %>" alt="MioChef" />
      </a>
    </h1>
    <!-- Logo -->
    <!-- Menu -->
    <nav id="nav-header">
      <%= render 'layouts/front/menu_links' %>
    </nav>
    <!-- Menu -->
  </div>
</header>
