<header id="header-default">
  <div id="wrap-menu-logo" class="container-fluid">
    <!-- Menu -->
    <nav id="nav-header" class="col-md-4">
      <%= render 'layouts/front/menu_links' %>
    </nav>
    <!-- Menu -->
    <!-- Logo -->
    <h1 id="logo-header" class="col-md-4">
      <%= link_to home_path do %>
      <%= image_tag 'content/miochef.png', alt: "Miochef" %>
      <% end %>
    </h1>
    <!-- Logo -->
    <!-- Menu -->
    <div id="wrap-user-info-header" class="col-md-4">
      <nav id="user-link">
        <a href="#">Luiz Valença</a>
      </nav>
    </div>
    <!-- Menu -->
  </div>
</header>
