<div id="menu-responsive">
  <span id="close-menu-responsive">
    <i class="fa fa-times" aria-hidden="true"></i>
  </span>
  <div id="wrap-menu-responsive">
    <%= render 'layouts/front/menu_links' %>
  </div>
</div>
